@mixin verticalcenter {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
  }

@mixin verticalalign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin padding {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}

@mixin margin {
  margin-left: 15%;
  margin-right: 15%;
}
