@mixin body {
  font-family: sans-serif;
  background-color: $bodygray;
  text-align: center;
  line-height: 32px;
}

@mixin verticalcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

@mixin verticalalign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin navbutton{
  padding: 15px;
  background: white;
  color: $blue;
}

@mixin padding1 {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}

@mixin padding2 {
  padding-left: 15%;
  padding-right: 15%;
}

@mixin article {
  display: inline-block;
  background-color: white;
  width: 20.6%;
  height: 300px;
  vertical-align: top;
  padding: 1%;
  padding-top: 30px;
  margin: 30px 1%;
}

@mixin margin {
  margin-left: 15%;
  margin-right: 15%;
}

@mixin icons {
  font-size: 30px;
  border: 1px solid $blue;
  color: $blue;
  padding: 10px;
  border-radius: 50%;
  width: 30px;
}
