@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "text.scss";

body{
  font-family: sans-serif;
  background-color: $bodygray;
  text-align: center;
}

.pledge{
  @include padding;
  background-color: $blue;
  height: 300px;
  .pledgetext{
    @include verticalcenter;
    h2, p{
      color: white;
    }
  }
}

.issues{
  @include margin;
  padding: 30px;
  article{
    display: inline-block;
    background-color: white;
    width: 20.6%;
    height: 300px;
    vertical-align: top;
    padding: 1%;
    padding-top: 30px;
    margin: 30px 1%;
  }
}

footer {
  border-top: 1px solid gray;
  padding-top: 20px;
  p{
  color: $blue;
  float: left;
  width: 33%;
  }
}

@import "mediaqueries.scss"
